@{
  Layout = "_Layout";
}
<h1> Welcome to FaisCat's pizza Parlor!</h1>
<h2> (Guaranteed cat poop free, or your money 50% refunded!) </h2>

<div class="links">
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>
<p>@Html.ActionLink("View Menu", "Index", "MenuItems")</p>
</div>

<div class="links">
  <p>@Html.ActionLink("Staff Only: edit the menu", "Create", "MenuItems")</p>
  <p>@Html.ActionLink("Staff Only: see all orders", "Index", "Orders")</p>
  <p>@Html.ActionLink("Staff log-in", "Index", "Account")</p>
</div>
