@{
  Layout = "_Layout";
}

@using PizzaParlor.Models;
@model List<PizzaParlor.Models.Order>;
<h1>All Orders</h1> 

@if (@Model.Count == 0)
{
  <h3>Currently no orders yet!</h3>
}

@foreach (Order order in Model)
{
  <li>@Html.ActionLink($"{order.OrderId}", "Details", new { id = order.OrderId }) @Html.Display(order.Name)
    @if(order.IsDelivery)
    {
      @Html.Display("Delivery Order |");
      @Html.Display(order.CustomerInfo);
    }
    else
    {
      @Html.Display("Pickup Order")
    }
  </li>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Manage Menu", "Index", "MenuItems")</p>
